/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit; }

body {
  line-height: 20px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote, q {
  quotes: "" ""; }

blockquote:before, q:before {
  content: open-quote; }

blockquote:after, q:after {
  content: close-quote; }

a, button:focus, input, textarea {
  outline: none; }

a img {
  border: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

span.reset {
  display: block;
  height: 1px;
  margin-top: -1px;
  clear: both; }

input[type=hidden] {
  display: none; }

input[disabled='disabled'] {
  color: #cccccc;
  background: none; }

form {
  overflow: visible; }
  
ul, ol {
	list-style: none; }
  
/* Basic element styles */
a {
  text-decoration: none; }

blockquote {
  margin: 11px;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 0; }

address {
  margin: 0 0 20px;
  font-style: italic; }

del {
  text-decoration: line-through; }

pre, code {
  display: block;
  background: white;
  padding: 11px; }

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 20px; }
  
/* Force HTML5 Defaults for browsers that don't */
section, article, header, footer, nav, aside {
  display: block; }